/* index.css */
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

.dark .prose * {
  color: #fff !important;
}

.dark .prose h1,
.dark .prose h2,
.dark .prose h3,
.dark .prose h4,
.dark .prose h5,
.dark .prose h6,
.dark .prose strong,
.dark .prose b {
  color: #fff !important;
}

.dark .prose a {
  color: #60a5fa !important;
}

/* Links z.B. hellblau */
.dark .prose strong,
.dark .prose b {
  color: #fff !important;
}
